<div class="banner">
  <div class="container elements-organaizer">
    <div class="row">
      <div class="logo col-6">
        <%= image_tag("logo.svg", width: "100%")%>
      </div>
      <div class="headline col-5">
        <div class="headline-text">
          <h1>FavelaZap</h1>
          <h2 class="text-center">Local news by local people!</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container elements-organaizer">
   <div class="row">
      <div class="donwload col-12">
        <div class="btn donwload-btn">Download Here</div>
      </div>
    </div>
  </div>
</div> 
