<div class="banner">
  <div class="container">
    <h1>FavelaZap</h1>
    <h2>Uma nova maneira de se informar.</h2>
  </div>
  <div class="container w-50">
    <h2>Baixe nosso app!</h2>
    <div class="btn btn-primary">Baixe aqui</div>
  </div>
</div> 
