<div class="banner text-center pt-4">
<h1>FavelaZap</h1>
<h2>Local news by local people!</h2>
<%= image_tag("logo.svg", width: "250px")%>
  <%# <div class="container elements-organaizer">
   <div class="row">
      <div class="donwload col-12">
        <div class="btn donwload-btn">Download Here</div>
      </div>
    </div>
  </div> %>
</div> 
