<div class="banner">
  <div class="container">
    <div class="row">
      <div class="logo col-6">
        <%= image_tag("logo.svg", width: "100%")%>
      </div>
      <div class="headline col-5">
        <div class="headline-text">
          <h1>FavelaZap</h1>
          <h2>Uma nova maneira de se informar!</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
   <div class="row">
      <div class="donwload col-12">
        <div class="btn donwload-btn">Baixe aqui</div>
      </div>
    </div>
  </div>
</div> 