<div class="container">
  <div class="communities-list">
    <h2>Estamos presentes nas seguintes comunidades:</h2>
    <div class="container col-12">
      <ul class="list-of-comunities row">
        <li class="comunity col-5">Rocinha <i class="fas fa-map-marker-alt" id="marker"></i></li>
        <li class="comunity col-5">Vidigal <i class="fas fa-map-marker-alt" id="marker"></i></li>
        <li class="comunity col-5">Borel <i class="fas fa-map-marker-alt" id="marker"></i></li>
        <li class="comunity col-5">Formiga <i class="fas fa-map-marker-alt" id="marker"></i></li>
        <li class="comunity col-5">Macacos <i class="fas fa-map-marker-alt" id="marker"></i></li>
        <li class="comunity col-5">Alemão  <i class="fas fa-map-marker-alt" id="marker"></i></li>
        <li class="comunity col-5">Antares <i class="fas fa-map-marker-alt" id="marker"></i></li>
        <li class="comunity col-5">Jacaré <i class="fas fa-map-marker-alt" id="marker"></i></li>
        <li class="comunity col-5">Chapadão <i class="fas fa-map-marker-alt" id="marker"></i></li>
        <li class="comunity col-5">Terreirão <i class="fas fa-map-marker-alt" id="marker"></i></li>
      </ul>
    </div>
  </div>
</div>