<div class="container">
  <h2>Estamos presentes nas seguintes comunidades:</h2>
  <div class="row">
    <ul class="list-of-comunities">
      <li class="comunity col-6">Community one</li>
      <li class="comunity col-6">Community two</li>
      <li class="comunity col-6">Community three</li>
      <li class="comunity col-6">Community four</li>
    </ul>
  </div>
</div>