<h2>Estamos presentes nas seguintes comunidades:</h2>
<ul class="list-of-comunities">
  <li class="comunity">Community one</li>
  <li class="comunity">Community two</li>
  <li class="comunity">Community three</li>
  <li class="comunity">Community four</li>
</ul>