<div class="container">
  <div class="communities-list">
    <h2>We are present in the following communities:</h2>
    <div class="container col-12">
      <ul class="list-of-comunities row">
      <% User::COMMUNITIES.each do |community| %>
        <li class="comunity col-5"><%= community %> <i class="fas fa-map-marker-alt" id="marker"></i></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
