<div class="container">
  <div class="row">
    <% @facts.each do |fact| %>
      <div class="col-12">
        <div class="card-red my-2">
          <%= cl_image_tag fact.photo.key, crop: :fill, gravity: :auto, class: "card-img-top red" %>
          <div class="card-body-red">
            <p class="card-text"><strong><%= fact.title.truncate(60) %></strong></p>
          </div>
          <p class="created-at-card d-flex justify-content-end"><%= fact.created_at.strftime("%e %B %Y") %></p>
        </div>
        <% if @user == fact.user %>
          <div class="icons">
            <div class="delete-icon-red"><i class="fas fa-trash"></i></div>
            <div class="edit-icon-red"><i class="fas fa-edit"></i></div>
          </div>
        <% end %>
      </div>
    <% end %>  
  </div>
</div>