<<<<<<< HEAD
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div>Info1</div>
    </div>
    <div class="carousel-item">
      <div>Info2</div>
    </div>
    <div class="carousel-item">
      <div>Info3</div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
=======
<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="info-card">
          <div class="row">
            <div class="icon-card">
              <%=image_tag("cellphone_icon.PNG", width: "75%")%>
            </div>
            <div class="description">
              <div class="title-card"><h2>Tenha acesso na palma da sua mão.</h2></div>
              <div class="text-card"><p>Nossa rede de reportes está a sua disposição para te entregar conteudo de qualidade e especialmente selecionado para você.</p></div>
              <div class="button-space"><div class="donwload-btn">Baixe aqui!</div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div>Info2</div>
      </div>
      <div class="carousel-item">
        <div>Info3</div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
>>>>>>> 61092738422c36185c75b16f03a6c40868dd4159
