<div class="container mb-4">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="info-card">
          <div class="row">
            <div class="icon-card col-12">
              <%=image_tag("cellphone_icon.PNG", width: "50%", height: "100%")%>
            </div>
            <div class="description col-12">
              <div class="title-card"><h2>Read about what matters</h2></div>
              <div class="text-card"><p>Select your communities and interests and read only the news you want.</p></div>
              <%# <div class="button-space"><div class="donwload-light-btn">Download Here!</div></div> %>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="info-card">
          <div class="row">
            <div class="icon-card col-12">
              <%=image_tag("society_icon.PNG", width: "50%", height: "100%")%>
            </div>
            <div class="description col-12">
              <div class="title-card"><h2>From the community to the community</h2></div>
              <div class="text-card"><p>The news are all from reporters who understand the community, because they live there, knowing how to tell their stories!</p></div>
              <%# <div class="button-space"><div class="donwload-light-btn">Download Here!</div></div> %>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="info-card">
          <div class="row">
            <div class="icon-card col-12">
              <%=image_tag("heart_icon.PNG", width: "50%", height: "100%")%>
            </div>
            <div class="description col-12">
              <div class="title-card"><h2>Get relevant news anywhere</h2></div>
              <div class="text-card"><p>You can download our app in our phone and access it even when you have no internet!</p></div>
              <%# <div class="button-space"><div class="donwload-light-btn">Download Here!</div></div> %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
