<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="info-card">
          <div class="row">
            <div class="icon-card col-12">
              <%=image_tag("cellphone_icon.PNG", width: "50%")%>
            </div>
            <div class="description col-12">
              <div class="title-card"><h2>Get access in the palm of your hand.</h2></div>
              <div class="text-card"><p>Our reporting network is at your disposal to deliver quality content specially selected for you.</p></div>
              <div class="button-space"><div class="donwload-light-btn">Donwload Here!</div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="info-card">
          <div class="row">
            <div class="icon-card col-12">
              <%=image_tag("society_icon.PNG", width: "50%")%>
            </div>
            <div class="description col-12">
              <div class="title-card"><h2>From community to community</h2></div>
              <div class="text-card"><p>The news generated are all from reporters who understand the community, because they live in the communities, knowing how to tell their stories!</p></div>
              <div class="button-space"><div class="donwload-light-btn">Donwload Here!</div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="info-card">
          <div class="row">
            <div class="icon-card col-12">
              <%=image_tag("heart_icon.PNG", width: "50%")%>
            </div>
            <div class="description col-12">
              <div class="title-card"><h2>Read about what matters</h2></div>
              <div class="text-card"><p>With our preference system, you only get what you want to read from the place you want to read it!</p></div>
              <div class="button-space"><div class="donwload-light-btn">Donwload Here!</div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
