<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="info-card">
          <div class="row">
            <div class="icon-card">
              <%=image_tag("cellphone_icon.PNG", width: "75%")%>
            </div>
            <div class="description">
              <div class="title-card"><h2>Tenha acesso na palma da sua mão.</h2></div>
              <div class="text-card"><p>Nossa rede de reportes está a sua disposição para te entregar conteudo de qualidade e especialmente selecionado para você.</p></div>
              <div class="button-space"><div class="donwload-btn">Baixe aqui!</div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="info-card">
          <div class="row">
            <div class="icon-card">
              <%=image_tag("society_icon.PNG", width: "65%")%>
            </div>
            <div class="description">
              <div class="title-card"><h2>Conteudo da comunidade para a comunidade</h2></div>
              <div class="text-card"><p>As noticias geradas são todas de repórteres que entendem a comunidade, poerquê vivem nas comunidades, sabendo contar suas histórias!.</p></div>
              <div class="button-space"><div class="donwload-btn">Baixe aqui!</div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="info-card">
          <div class="row">
            <div class="icon-card">
              <%=image_tag("heart_icon.PNG", width: "75%")%>
            </div>
            <div class="description">
              <div class="title-card"><h2>Leia sobre o que interessa</h2></div>
              <div class="text-card"><p>Com nosso sistema de preferências, você recebe apenas o que quer ler do lugar que você quer ler!</p></div>
              <div class="button-space"><div class="donwload-btn">Baixe aqui!</div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
