<div class="container">
  <div class="mockup">
    <div class="row">
      <div class="cellphone col-12"><%=image_tag("mockup_image.jpg", width: "30%")%></div>
    </div>
    <div class="row">
      <div class="title col-12"><h2>Venha conhecer nosso app!</h2></div>
    </div>
    <div class="div">
      <div class="details col-12"><p>Baixe nosso app e tenha acesso a todo nosso conteúdo com um design exclusivo!</p></div>
    </div>
    <div class="button-space">
      <div class="donwload-light-btn">Baixe aqui!</div>
    </div>
  </div>
</div>