<div class="container">
  <div class="mockup">
    <div class="row">
      <div class="cellphone col-12"><%=image_tag("mockup.png", width: "70%")%></div>
    </div>
    <div class="row">
      <div class="title col-12"><h2>Come see our app!</h2></div>
    </div>
    <div class="div">
      <div class="details col-12 text-center"><p>FavelaZap reinforces the power of local press in peoples hands.</p></div>
    </div>
    <div class="button-space">
      <div class="donwload-light-btn">Be part of it!</div>
    </div>
  </div>
</div>
