<div class="container">
  <div class="mockup">
    <div class="row">
      <div class="cellphone col-10"><%=image_tag("mockup_image.jpg", width: "65%")%></div>
    </div>
    <div class="row">
      <div class="title col-10"><h2>Venha conhecer nosso app!</h2></div>
    </div>
    <div class="div">
      <div class="details col-10"><p>Baixe nosso app e tenha acesso a todo nosso conteúdo com um design exclusivo!</p></div>
    </div>
  </div>
</div>