.subtitle {
  color: #a7a7a7;
  font-size: 18px;
}

.reporter-name {
  font-size: 12px;
  margin-right: 10px;
}

.avatar-show {
  margin-top: -50px;
}

.created-at {
  font-size: 12px;
  color: #a7a7a7;
}

.tags-title {
  font-size: 14px;
}

ul {
  display: inline-block;
  list-style-type: none;
}

.tag-selector {
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: $logo-dark-green;
  border: 1px solid $logo-dark-green;
  margin-right: 0.6rem;
}

$size: 20px;
.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
    margin-right: 5px;
  }
}
