.container {
  color: $logo-dark-green;
}

.title {
  font-size: 32px;
}

.subtitle {
  color: $logo-green;
  font-size: 16px;
  font-weight: bolder;
}

.number-likes {
  font-size: 22px;
  text-align: center;
}

.hearts {
  font-size: 32px;
}

.reporter-name {
  font-size: 12px;
  margin-right: 8px;
}

.avatar-show {
  margin-top: -30px;
}

.created-at {
  font-size: 12px;
  color: $logo-green;
}

.tags-title {
  font-size: 14px;
}

ul {
  display: inline-block;
  list-style-type: none;
}

.tag-selector {
  display: inline-block;
  font-size: 0.8rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: $logo-dark-green;
  color: white;
  margin-right: 0.6rem;
  padding-top: 1px;
  padding-bottom: 1px;
}

.comment-content {
  font-size: 13px;
  margin: 12px 0 0 0;
}

.comment-user {
  font-size: 13px;
  margin: 0 0 12px 0;
  color: $logo-green;
}
