.subtitle {
  color: #a7a7a7;
  font-size: 18px;
}

.share {
  font-size: 26px;
  color: black;
}

.reporter-name {
  font-size: 12px;
}

.created-at {
  font-size: 12px;
  color: #a7a7a7;
  margin-top: -10px;
}

.tags-title {
  font-size: 14px;
}

ul {
  display: inline-block;
  list-style-type: none;
}

.tag-selector {
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: #7E73FF;
  border: 1px solid #7E73FF;
  margin-right: 0.6rem;
}
