.news-container {
  border-radius: 5px; 
  box-shadow: 1px 1px 3px $logo-dark-green;
  width: 375px;
}

.card {
  border-radius: 5px;
  border-color: $logo-green;
  overflow: hidden;
}

.your-news {
  color: $logo-dark-green;
  letter-spacing: -1px;
}

strong {
  color: $logo-green;
}

