.card {
  border-radius: 5px;
  border-color: $logo-green;
  overflow: hidden;
}

.your-news {
  color: $logo-dark-green;
  text-shadow: 0.5px 0.5px 2px $logo-green;
}

strong {
  color: $logo-dark-green;
  text-shadow: 0.5px 0.5px 3px $logo-green;
}

.container-news {
  background-image: linear-gradient(to bottom right, $logo-green, $logo-dark-green);
}

.body-news {
  background-image: linear-gradient(to right, $logo-dark-green, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $white, $logo-dark-green);
}