.card {
  border-radius: 5px;
  border-color: $logo-green;
  overflow: hidden;
}

.your-news {
  color: $logo-dark-green;
  text-shadow: 0.5px 0.5px 2px $logo-green;
}

strong {
  color: $logo-green;
  text-shadow: 0.5px 0.5px 1px $logo-dark-green;
}

.container-news {
  background-image: linear-gradient(to bottom right, $logo-green, $logo-dark-green);
}

.body {
  background-color: linear-gradient(to bottom right, #32BD46, #1E481B);;
}
