<%= render 'components/banner' %>
<div class="infos">
  <%= render 'components/info-carousel' %>
</div>
<div class="communitites">
  <%= render 'components/communities' %>
</div>
<div class="mock-up">
  <h2>Mock-up</h2>
</div>