<%= render 'components/banner' %>
<div class="infos">
  <%= render 'components/info-carousel' %>
</div>
<div class="communitites">
  <%= render 'components/communities' %>
</div>
<div class="mock-up">
  <%= render 'components/mockup' %>
</div>