<div class="container-news text-center pt-3 pb-1"><h2 class="your-news">Your <strong>Created</strong> News</h2></div>
<%= render 'components/fact-card' %>
<hr>
<%= render 'components/article-card' %>
