<div class="container">
  <div class="row">
    <% @user_articles.each do |article| %>
      <div class="col-12">
        <div class="card shadow-sm border">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text"><strong><%= article.title.truncate(60) %></strong></p>
          </div>
          <p class="created-at"><%= article.created_at.strftime("%e %B %Y") %></p>
        </div>
      </div>
    <% end %>  
  </div>
</div>
