<div class="container-edit">
<div class="news-container">
<div class="body-news">
<div class="container-news text-center pt-3 pb-1"><h2 class="your-news">Your <strong>FavelaZap</strong> News</h2></div>
<%= render 'components/fact-card' %>
<hr>
<%= render 'components/article-card' %>
</div>
</div>
</div>