.card-img-top {
  max-height: 180px !important;
  object-fit: cover;
}

.card-body{
  position: relative;
}

.icons {
  position: absolute;
  bottom: 9px;
  left: 20px;
  display: flex;
  justify-content: space-around;
  width: 14%;
}

.delete-icon{
  color: $logo-dark-green;
}

.edit-icon{
  color: $logo-dark-green;
}

.delete-icon :hover{
  color: $logo-green;
}

.edit-icon :hover{
  color: $logo-green;
}

.card {
  background-color: #e7fdea;
  box-shadow: 2px 2px white, 4px 4px $logo-green, 6px 6px $logo-dark-green;
}

.card:hover{
  background-color: #e7fdea;
  box-shadow: 2px 2px white, 4px 4px $logo-green, 6px 6px $logo-dark-green, 8px 8px black;
}


