#article-page{
 // background-color: rgba($color: $logo-green, $alpha: 1);
}

.card-img-top {
  max-height: 180px !important;
  object-fit: cover;
}

.card-body{
  position: relative;
  padding: 0.7rem 0.25rem 0.3rem 0.25rem;
}

.created-at-card {
  font-size: 12px;
  color: #a7a7a7;
  margin-bottom: 1vw;
  padding: 0 20px;
}

.icons {
  position: absolute;
  bottom: 3px;
  left: 16px;
  display: flex;
  justify-content: space-around;
  width: 14%;
  text-shadow: 0 0 1px black;
}

.delete-icon{
  color: $logo-dark-green;
  font-size: 15px;
  margin-right: 24px;
}

.edit-icon{
  color: $logo-dark-green;
  font-size: 15px;
}

.delete-icon :hover{
  color: $logo-green;
}

.edit-icon :hover{
  color: $logo-green;
}

.card-text{
  font-weight: bolder;
  font-size: 4.5vw;
}

.card {
  background-color: $page-white;
  box-shadow: 0.5px 0.5px gray;
  border-radius: 5px;
}

.card:hover{
  background-color: #e7fdea;
  box-shadow: 1px 1px gray;
}
