.banner {
  padding-top: 100px;
  padding-bottom: 20px;
  padding-right: 10px;
  background-color: $logo-green;
  width: 100%;
  margin: 0px;
}

.elements-organaizer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.headline {
  display: flex;
  align-items: center;
}

.headline h1 {
  color: $page-white;
  font-size: 5.5vh;
  text-align: center;
  letter-spacing: 0px;
  font-family: $font-default;
  text-shadow: -75px -50px 1px #345333, -150px -100px 1px #93e990;
}

.headline h2 {
  color: $logo-dark-green;
  font-size: 5vw;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-family: 'Baloo 2', cursive;
}

.logos {
  margin: 0;
  color: white;
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.5px;
}

.donwload {
  padding: 20px;
}
