.banner {
  padding-top: 100px;
  padding-bottom: 20px;
  padding-right: 10px;
  background-color: $logo_green;
  width: 100%;
}

.banner h1 {
  color: $page-white;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0px;
  font-family: $font-default;
  text-shadow: -1px -1px 2px $logo-dark-green;
}

.banner h2 {
  color: $logo-dark-green;  
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-family: 'Baloo 2', cursive;
}

.logos {
  margin: 0;
  color: white;
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.5px;
}

.donwload {
  padding: 20px;
}
