.communities-list{
  padding-top: 20px;
}
.communities-list h2{
  color: $logo-dark-green;
  font-weight: bolder;
  font-size: 150%;
  font-family: 'Baloo 2', cursive;
  padding: 5px 0px;
  text-align: center;
}


.communities-list li{
  color: $page-white;
  margin: 3px 3px 0 3px;
  border-radius: 3px;
  text-align: center;
  font-size: 100%;
  font-family: 'Baloo 2', cursive;
  font-weight: bold;
  padding: 4px 0px;
  background-color: $logo-green;
}
.space-table{
  font-size: 10%;
}

.comunity{
  display: flex;
  justify-content: space-around;
}