.donwload-btn {
  background-color: $logo-dark-green;
  color: $page-white;
  border-color: $logo-dark-green;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  font-family: 'Baloo 2', cursive;
}

.donwload-btn:hover {
  background-color: $page-white;
  font-family: 'Baloo 2', cursive;
  text-align: center;
}

.donwload-light-btn {
  background-color: $logo-green;
  color: $page-white;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  font-family: 'Baloo 2', cursive;
}
