#carousel-fact {
  .carousel .carousel-item {
    height: 200px;
    background-color: #777;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }

  .carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 200px;
    opacity: 0.2;
  }

  .fact-title {
    color: white;
    text-shadow: 0 0 3px black;
  }

  .fact-time {
    font-size: 12px;
    color: #bbbbbb;
  }

  .fact-icons {
    position: absolute;
    bottom: -10px;
    left: 100px;
    display: flex;
    justify-content: space-around;
    width: 14%;
    text-shadow: 0 0 1px white;
  }

  .fact-delete-icon {
    color: $logo-dark-green;
    font-size: 20px;
    margin-right: 20px;
  }

  .fact-delete-icon :hover {
    color: $logo-green;
  }

  .fact-edit-icon {
    color: $logo-dark-green;
    font-size: 20px;
  }
}
