#carousel-fact {
  .carousel .carousel-item {
    height: 200px;
    background-color: #777;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 200px;
  }
  
  .fact-title {
    color: black;
    text-shadow: 0 0 2px blanchedalmond;
  }
  
  .fact-time {
    font-size: 12px;
    color: #bbbbbb;
  }
  .icons{
    text-align: center;
    position: absolute;
    left: 41%;    
  }

  .delete-icon{
    margin-right: 6px;
  }

}


.edit-icon-red :hover{
  color: #d67878;
}

.icons {
  margin-bottom: 3px;
}
