.container-form {
    background-color: $logo-green;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 3px $logo-dark-green;
    color: white;
    background-color: $logo-green;
    font-family: $font-default;
    font-weight: bolder;
}

h2 {
    color: $logo-dark-green;
}