.container-form {
    background-color: $logo-green;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 3px $logo-dark-green;
    color: white;
    background-color: $logo-green;
    font-family: $font-default;
    font-weight: bolder;
}

.post-your-article {
    color: white;
}

.toggle {
    position: absolute;
    transform: scale(0);
  }
  
  .toggle + label {
    position: relative;
    display: inline-block;
    padding-left: 40px;
  }
  
  .toggle + label::before {
    content: '';
    display: block;
    position: absolute;
    cursor: pointer;
    width: 36px;
    height: 20px;
    top: 0;
    left: 0;
    background-color: #EAEAEA;
    border-radius: 50rem;
  }
  
  .toggle:checked + label::before {
    background-color: $logo-dark-green;
  }
  
  .toggle + label::after {
    content: '';
    display: block;
    position: absolute;
    cursor: pointer;
    width: 16px;
    height: 16px;
    top: 2px;
    left: 2px;
    background-color: white;
    border-radius: 50%;
    transition: left 0.2s ease;
  }
  
  .toggle:checked + label::after {
    left: 18px;
  }
