.title h2{
    color: $logo-dark-green;
    font-weight: bolder;
    font-size: 90%;
    padding: 5px 0px;
    font-family: 'Baloo 2', cursive;
    text-align: center;
}
.cellphone {
  text-align: center;
}

.details p{
  color: $logo-dark-green;
  font-family: 'Baloo 2', cursive;
}
