h6 {
    color: white;
    font-weight: bold;
}

.tag-selector-profile {
    display: inline-block;
    font-size: 0.8rem;
    border-radius: 50rem;
    padding: 0.005rem 0.4rem;
    background-color: white;
    color: $logo-green;
    font-weight: bolder;
    border: 1px solid white;
    margin-right: 0.6rem;
    box-shadow: 0.5px 0.5px 5px $logo-dark-green;
  }

.size_photo {
    height: 200px;
    width: 200px;
    border-width: 6px;
    box-shadow: 2px 2px 5px $logo-dark-green;
}

.btn-light {
    color: $logo-dark-green;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: 1px 1px 5px $logo-dark-green;
}

.btn-light:hover {
    color: white;
    background: $logo-dark-green;
    border-radius: 5px;
    font-weight: bolder;
    box-shadow: 1px 1px 10px $logo-dark-green;
}

.profile-email {
    background-color: white;
    color: $logo-green;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 1px 1px 5px $logo-dark-green;
}

.collection_check_boxes {
    font-weight: normal;
}
