h3, h4 {
    color: $logo-green;
}

.tag-selector {
    display: inline-block;
    font-size: 0.7rem;
    border-radius: 50rem;
    padding: 0.1rem 0.5rem;
    background-color: #ECEAFF;
    color: $logo-dark-green;
    border: 1px solid $logo-green;
    margin-right: 0.6rem;
  }
